*, :root {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    color: #050505;
    background-color: #f5f5f5;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

footer{
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #C3B1E1;
}

a:hover {
    color: #419D78;
    font-weight: 1000;
}
