*, :root {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #141414;
    padding: 24px;
}

header nav {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    font-weight: 800;
}

footer {
    text-align: center;
    width: min-content;
    margin: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: #CF9FFF;
}

a:hover {
    font-weight: 1000;    
}

a:active {
    color: #419D78;
}

.colorFrame {
    height: 150px;
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #141414;
    text-align: center;
    align-items: center;
    justify-content: center;
}
button {
    width: 120px;
    height: 30px;
    margin-bottom: 6px;
}