*, :root {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    color: #050505;
    background-color: #F5F5F5;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: 800;
}

footer {
    text-align: center;
}

header, footer {
    border: 1px solid black;
    border-radius: 10px;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #C3B1E1;
}

a:hover {
    color: #419D78;
    font-weight: 1000;
}
